<div class="container col-6">
  <div class="row card">
    <div class="d-flex flex-column">
      <div class="d-flex text-center text-success">Thông tin chi tiết</div>
      <div class="d-flex">
        <div class="d-flex flex-column">
          <div class="">ID</div>
          <div class="">Tên</div>
          <div class="">Email</div>
          <div class="">Giới tính</div>
          <div class="">Trạng thái</div>
        </div>
        <div class="d-flex flex-column">
          <div>1</div>
          <div>Tran Minh Tri</div>
          <div>tranminhtri0253@gmail.com</div>
          <div>Nam</div>
          <div>inactive</div>
        </div>
      </div>
    </div>
  </div>
</div>